  <div class="billboard-div">
    <h1 class="billboard-title-text">{{ title }}</h1>
    {% if subtitle %}
    <h2 class="billboard-subtitle-text">{{ subtitle }}</h2>
    {% endif %}
    {% if description %}
    <p class="billboard-description-text">{{ description }}</p>
    {% endif %}
    <p class="billboard-p-text"><strong>{{ page.date | htmlDateString }}</strong><br />
    <span style="font-size: 75%;">
    {% if lastmod %}
    Last modified {{ lastmod | htmlDateString }}
    {% else %}
    &nbsp;
    {% endif %}
    </span>
  </div>