    <header>
      <nav class="nav">
        <input type="checkbox" id="nav-Checkbox" class="nav-Checkbox">
        <label for="nav-Checkbox" class="nav-Toggle">
          <span class="menu">&#9776;</span>
          <span class="close">&#215;</span>
        </label>
        <ul class="nav-Menu">
          <li><a href="/" aria-label="Home page">Home page</a></li>
          <li><a href="/about/" aria-label="About me">About</a></li>
          {%- for post in collections.post | reverse -%}
            {%- if loop.index0 < 1 -%}
              <li><a href="{{ post.url }}">Latest post</a></li>
            {%- endif -%}
          {%- endfor -%}
          <li><a href="/posts/" aria-label="Posts">All posts</a></li>
        </ul>
      </nav>
    </header>